<!-- Header -->
	<header id="header">
		<div class="inner">
			<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

		</div>
	</header>

<!-- Menu -->
	<nav id="menu">
		<h2>Menu</h2>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#main">About</a></li>
			<li><a href="#footer">Contact</a></li>
			<li><a href="#availables">Availables</a></li>
		</ul>
	</nav>